* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
   }   

.navbar {
   background-color:black;
   color:white;
}

.bgimage {
    background-image: linear-gradient(to top, #0052A2 0%, #00498D 16%, #02386E 32%, #00264D 48%, #00172D 64%,#000B18 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container {
    text-decoration: ;
    margin: 2rem;
    text-align: center;
}

.links {
    color: #ADD8E6;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: center;
    text-decoration: none;
    padding: 0 10px;
    height: 100%;
}
